<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net471" />
  <package id="CacheManager.Core" version="1.1.2" targetFramework="net471" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.1.2" targetFramework="net471" />
  <package id="CircuitBreaker.Net" version="0.7.0" targetFramework="net471" />
  <package id="CodeContracts" version="1.0.5680.18392" targetFramework="net471" />
  <package id="EasyNetQ" version="2.3.3" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net471" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net471" />
  <package id="Topshelf" version="4.0.4" targetFramework="net471" />
  <package id="Topshelf.Autofac" version="3.1.1" targetFramework="net471" />
</packages>